framework: netstandard2.0
source https://api.nuget.org/v3/index.json

nuget Aardvark.Base     ~> 4

group Build
framework: netstandard2.0
content: none
source https://api.nuget.org/v3/index.json

github aardvark-platform/aardvark.fake:v4-temp
