type project
id Uncodium.Eigensystems
authors Stefan Maierhofer
owners Stefan Maierhofer
projectUrl https://github.com/stefanmaierhofer/Uncodium.Eigensystems
licenseUrl https://raw.githubusercontent.com/stefanmaierhofer/Uncodium.Eigensystems/master/LICENSE
description
    Efficient computation of eigenvalues and eigenvectors of 3x3 matrices.
include-pdbs true